<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- centered -->
    <h1>BurgerApp</h1>

    <h3>BurgerStart</h3>

    <ul>
        <li>
            <p>ID: stuff </p>
            <p>Task: </p>
        </li>

    </ul>

    <form action="/" method="POST">
        <textarea type="text" name="wish"></textarea>

        <button type="submit">Submit</button>
    </form>
</body>